[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
pipenv-setup = "*"
sphinx = "*"

[packages]
requests = "*"
pydantic = "*"

[requires]
python_version = "3.7"
